<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- NO need for a full path because we told express to use public as a static directory --}}
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    {{{body}}}
    {{!-- Any other HTML file that we render will appear here --}}
    {{!-- {{{}}} handlebars, special tag, will copie the data from the index.hbs --}}
</body>
</html>